<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<script src="/js/clock.js"></script>
	<script src="/js/jquery.js"></script>
</head>
<body onmousemove="showAllEvent()">
<!-- 	<a href="/shutdown">shut me down!</a>
	<a href="/timeup">time up</a>
	<a href="/timedown">time down</a>
 -->	
		<!-- <p id="clock"></p> -->
<div class="outer" id="bg">
  <div class="middle">
    <div class="inner">
		<div class="interface"><a href="/h_plus">&uarr;&uarr;</a> <a href="/m_plus">&uarr;&uarr;</a> <a href="/s_plus">&uarr;&uarr;</a></div>
		<p id="clock">&nbsp;</p>
		<p id="number">&nbsp;</p>
		<div class="interface"><a href="/h_minus">&darr;&darr;</a> <a href="/m_minus">&darr;&darr;</a> <a href="/s_minus">&darr;&darr;</a></div>
    </div>
  </div>
</div>

</div>
</body>
</html>