<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>86400</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<script src="/js/clock.js"></script>
	<script src="/js/jquery.js"></script>
</head>

<body onmousemove="showAllEvent()" onload="off()">
<div id="overlay" onclick="off()">
  <div id="text"><p><a id="yes" href="/shutdown"> switch off </a></p>
  	<p><a id="no" onclick="no()"> or keep on </a></p></div>
</div>

<div class="outer">
  <div class="middle">
    <div class="inner">
		
		<div class="interface up">
			<p><a id="off" onclick="on()" class="off">off</a></p>
			<p><a href="/h_plus">&#43;&#43;</a> <a href="/m_plus">&#43;&#43;</a> <a href="/s_plus">&#43;&#43;</a></p>
		</div>
		
		<p id="clock"><span id="hh">&nbsp;&nbsp;</span>:<span id="mm">&nbsp;&nbsp;</span>:<span id="ss">&nbsp;&nbsp;</span></p>
		
		<div class="interface down">
			<p><a href="/h_minus">&#8722;&#8722;</a> <a href="/m_minus">&#8722;&#8722;</a> <a href="/s_minus">&#8722;&#8722;</a></p>
			<p><a id="hide" onclick="hide()">hide</a></p>
		</div>
    </div>
  </div>		
</div>

</div>
</body>
</html>