@font-face {
	font-family: 'Roboto-Mono';
	src: url('RobotoMono-Regular.ttf') format('truetype');
}

body {
	font-family: 'Roboto-Mono', monospace;
	font-size: 70px;
	line-height: 20px;
	color: white;
	background: black;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; /* 'contain' if using large images; 'auto' if using small ones */
	/*transition: background-image 0.1s ease-in-out;*/
	/*cursor: url('css/cursor.png'), auto;*/
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */

}


.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background: red;*/

}

.middle {
	display: table-cell;
	vertical-align: middle;
	/*background: black;*/
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	text-align: center;
}

.interface {
	color: #c00;
}


#kill {
	position: absolute;
	top: 0px;
	right: 0px;
}

p {
		/*text-shadow: 0px 0px 100px rgba(0,0,0,0.5);*/ /* turn thisback on if using a fancy (ie non-pi) computer */
		/*transition: background-image 0.2s fadeIn;*/
}

a, a:visited {
	color: #c00;
	text-decoration: none;
}

h1 {
	font-size: 35px;
}

a:hover {
	color: #0894A1;
	/*background: #112F41;*/
}

#yes {
	background: #6f3;
	color: white;
}

#no, #off, #hide {
	background: #c00;
	color: white;
	font-size: 30px;
}

#noclock {
	display: none;
}

#overlay, #overlay2 {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	font-size: 50px;
}

#overlay2 p {
	line-height: 20px;
	font-size: 15px;
}

#text{
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	text-align: center;
}