@font-face {
	font-family: 'Roboto-Mono';
	src: url('RobotoMono-Regular.ttf') format('truetype');
}

body {
	font-family: 'Roboto-Mono', monospace;
	font-size: 100px;
  line-height: 50px;
  color: white;
  background: grey;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}


.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: red;*/
}

.middle {
  display: table-cell;
  vertical-align: middle;
  /*background: black;*/
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  /*whatever width you want*/
  text-align: center;
}

.interface {
  color: #ED553B;
}

p .clock {
    text-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
a, a:visited {
  color: #ED553B;
  text-decoration: none;
}

a:hover {
  color: #0894A1;
  background: #112F41;
}